mat-card
    margin-bottom: 50px
mat-form-field,button[type="button"]
    width: 90%
    margin: 5px auto
    margin-left: 5%
button[type="submit"]
    margin-left: 5%
    margin-top: 10px
    padding: 5px 3px
.alert
    padding: 0px
    margin: 0px auto
    border: none
    height: 40px
    line-height: 40px
   
    p
        margin: 0px
        padding: 0px
        text-align: center
    