mat-card
    margin-bottom: 50px
    h2
        margin-left: 5%
    mat-form-field
        width: 90%
        margin: 5px auto
        margin-left: 5%
    button[type="submit"]
        padding: 3px 0px
        margin-left: 5%
        margin-top: 10px
.errMsg
    background: #B00020
    text-align: center
    color: #fff
    border-radius: 3px
    p
        padding: 10px
        font-weight: bold